*{
    padding: 0;
    margin: 0;
    font-family:Poppins;
    
}

body{
    background-image: url(bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
   
    
}

h1{
    font-weight: bold;
    padding-bottom: 20px;
    font-weight: 700;
    

}

.flex-left{
    padding: 40px;
    
}


#top{
    background-color: hsl(248, 32%, 49%);
    padding: 25px;
    border-radius: 13px;
    border-bottom-color:  hsl(0, 78%, 66%);
    border-bottom-width: 10px;
    border-bottom-style: solid;
}
.form{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 470px;
    border-bottom-color:  hsl(0, 78%, 66%);
    border-bottom-width: 10px;
    border-style: solid;

    border-style: solid;

}

input{
    width: 450px;
    height: 50px;
    font-size: bold;


}

#submit{
    background-color: hsl(154, 59%, 51%);
    color: white;
    border-radius: 7px;
}

#title{
    color: rgb(175, 143, 143);
    font-size: 11px;
    text-align: center;
    padding: 20px;
}
#terms{
    font-weight: bold;
    font-size: 12px;
    color: rgb(122, 100, 100);
}

main{
    display: flex;
    margin: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 1440px;
    color: white;
    font-size: 16px;

    align-items: center;
}


