body {
    margin: 0;
    padding: 0;
    background-color: #1f688fba;
    font-family: 'Arial';
}

.login {
    width: 300px;
    overflow: hidden;
    margin: auto;
    padding: 70px;
    background-color: #23463f;
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 5px;
}

label {
    color: #08ffd1;
    font-size: 17px;
}

#Email {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#log {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 7px;
    color: blue;
}
#Pass {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
span {
    color: white;
    font-size: 17px;
}
a {
    color: antiquewhite;
}